.input_element {
    display: flex;
    justify-content: center;
    width: 95%;
}

.input_element > div {
    padding: 0 5px;
    margin: 2px 0;
}

.input_element > div:first-child {
    display: flex;
    justify-content: right;
    width: 37%;
}

.input_element > div:last-child {
    display: flex;
    justify-content: left;
    width: 63%;
}

.input_element > div > input {
    border: none;
    border-radius: 5px;
    padding: 0 2px;
    text-align: center;
}

.input_element > div > input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}