.input_element {
    display: flex;
    justify-content: center;
    width: 95%;
}

.input_element > div {
    padding: 0 5px;
    margin: 2px 0;
}

.input_element > div:first-child {
    display: flex;
    justify-content: right;
    width: 120px;
}

.input_element > div:last-child {
    display: block;
}

.input_element > div > span {
    font-size: 22px;
}

.input_element > div > input {
    border: none;
    border-radius: 5px;
    padding: 0 2px;
    text-align: right;
    width: 140px;
    font-size: 22px;
}

.input_element > div > input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.select_dropdown_container {
    border: 5px;
    overflow: hidden;
}

.select_dropdown_list {
    position: fixed;
    background-color: red;
    width: 140px;
    max-height: 120px;
    overflow: auto;
    border-radius: 5px;
    /* Neu hinzugefügt: */
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    /* Wichtig: */
    clip-path: inset(0 round 5px);
}

.select_dropdown_list::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    background: #f1f1f1;
}

.select_dropdown_list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.select_dropdown_item {
    cursor: pointer;
}

.select_dropdown_item:hover {
    background-color: rgb(255, 83, 83);
}

.select_dropdown_item:not(:last-child) {
    border-bottom: 1px solid black;
}

.select_dropdown_item_name {
    font-size: 22px;
}