.input_element {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input_element > div {
    padding: 0 5px;
    margin: 2px 0;
}

.input_element > div:first-child {
    display: flex;
    justify-content: right;
    width: 40%;
}

.input_element > div:last-child {
    display: flex;
    width: 60%;
}

.input_element > div > span {
    color: var(--secondary-color);
    font-size: 22px;
}

.input_element > div > select,
.input_element > div > input {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 0 2px;
    text-align: right;
    width: 140px;
    font-size: 22px;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--primary-border-color);
    font-size: 1.4rem;
    color: var(--secondary-color);
}

.input_element > div > select {
    cursor: pointer;
}