<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/theme-settings.css">
    <link rel="stylesheet" href="static/styles/content.css">
    <link rel="stylesheet" href="static/styles/nav.css">
    <link rel="stylesheet" href="static/styles/options.css">
    <link rel="stylesheet" href="static/styles/frame.css">
    <link rel="stylesheet" href="static/styles/content/live_cam.css">
    <link rel="stylesheet" href="static/styles/content/element/image_strean.css">
    <link rel="stylesheet" href="static/styles/content/element/stream_button.css">
    <title>Document</title>
</head>
<body>
    <nav id="nav">
        <header>
            <h1>Menü</h1>
        </header>
        <ul>
            <li>
                <section>
                    <label>
                        Allgemein
                    </label>
                </section>
            </li>
            <li>
                <label class="switch">
                    <input id="dark-mode" type="checkbox">
                    <div class="slider round"></div>
                    <div class="switch-box">
                        <div class="switch-text switch-on-text">
                            Dark Mode (aktiviert)
                        </div>
                        <div class="switch-text switch-off-text">
                            Dark Mode (deaktiviert)
                        </div>
                    </div>
                </label>
            </li>
            <li>
                <div id="element_1" class="button-text">
                    <span>Element 1</span>
                </div>
            </li>
            <li>
                <div id="video_cam"  class="button-text">
                    <span>Video Cam</span>
                </div>
            </li>
            <li>
                <div id="ball_on_plate"  class="button-text">
                    <span>Ball On Plate</span>
                </div>
            </li>
            <li>
                <div id="element_4"  class="button-text">
                    <span>Element 4</span>
                </div>
            </li>
            <li>
                <div id="element_5"  class="button-text">
                    <span>Element 5</span>
                </div>
            </li>
            <li>
                <div id="element_6"  class="button-text">
                    <span>Element 6</span>
                </div>
            </li>
            <li>
                <div id="element_7"  class="button-text">
                    <span>Element 7</span>
                </div>
            </li>
            <li>
                <div id="element_5"  class="button-text">
                    <span>Element 5</span>
                </div>
            </li>
            <li>
                <div id="element_8"  class="button-text">
                    <span>Element 8</span>
                </div>
            </li>
            <li>
                <div id="element_9"  class="button-text">
                    <span>Element 9</span>
                </div>
            </li>
            <li>
                <div id="element_10"  class="button-text">
                    <span>Element 10</span>
                </div>
            </li>
            <li>
                <div id="element_11"  class="button-text">
                    <span>Element 11</span>
                </div>
            </li>
            <li>
                <div id="element_12"  class="button-text">
                    <span>Element 12</span>
                </div>
            </li>
        </ul>
        <footer>
            <div>
                <p>
                    <a href="https://github.com/BlackLufus/masterthesis" target="_blank" rel="noreferrer noopener" class="repository">Masterthesis</a> © 2025
                </p>
            </div>
        </footer>
    </nav>
    <div id="wrapper" class="wrapper">
        <header>
            <h1>
                Stewart Platform Controller
            </h1>
        </header>
        <main id="main">
            <div id="playground" class="playground">
                <div class="frame">
                    <div class="frame_header">
                        <span class="frame_title">Titel</span>
                        <button class="frame_close"></button>
                    </div>
                    <div class="frame_content">
                        <div class="live_cam">
                            <div style="background-color: blue; height: 20px; width: 20px;">
                                
                            </div>
                            <canvas class="image_strean">
                                
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div>
                <p>
                    Footer
                </p>
            </div>
        </footer>
    </div>
    <script type="module" src="static/scripts/js/main.js"></script>
</body>
</html>